<header class="sidebar fixed">
    <div class="left">
        <ul class="collections series" ng-repeat="item in photoSeries">
            <li class="mb2" ui-sref="{{item.state}}">{{item.label}}</li>
        </ul>
        <br>
        <ul class="collections details mt3" ng-repeat="detail in moreDetails">
            <li class="mb2" ui-sref="{{detail.state}}">{{detail.label}}</li>
        </ul>
        <ul class="collections details mt3" ng-repeat="ext in externalLinks">
            <a class="mb2" href="{{ext.extLink}}">{{ext.label}}</a>
        </ul>
    </div>
</header>
