@import 'sidebar';

featured {
  //margin-left: 200px;
  margin-top: 6%;
  margin-bottom: 6%;
  div {
    height: 40rem;
  }
  //.featured{
  //  padding-left: 0.3rem;
  //  padding-right: 0.3rem;
  //  //min-height: 10%;
  //  min-width: 33%;
  //  height: auto;
  //  max-width: 33%;
  //}
  //display: block;
  //img {
  //  display: block;
  //  width: 100% - sidebar;
  //  padding-top: 0.2rem;
  //  padding-bottom: 0.2rem;
  //  max-height: 340px;
  //  min-height: 340px;
  //  //padding: 0.2rem;
  //}

  [ui-sref]{
    cursor: pointer;
  }
}
