navbar {

  display: block;
  background: white;
  border-bottom: 0px solid black;
  box-shadow: 1px 1px 10px -4px black;
  height: 8%;
  position: fixed;
  width: 100%;
  z-index: 100;

[ui-sref] {
  cursor: pointer;
}
  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 1%;
    margin-left: 1em;
  }

  .nav-header {
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    span {
      color: grey;
    }
  }
}
