sidebar {
  position: relative;
  float: left;
  margin-top: 5%;
  [ui-sref]{
    cursor: pointer;
  }
  li {
    list-style: none;
    font-size: 1.4rem;
    margin-top: 1.5em;
    &:hover{
      color: grey;
    }
  }
  ul{
    padding-left: 1rem;
  }
  .details {
    color: grey;
    text-decoration: none;
    margin-top: 1em;
    li:hover {
      color: black;
    }
  }

  a{
    color: grey;
    font-size: 1.4rem;
    text-decoration: none;
    margin-top: 1em;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}
