#about {

  margin: 0 auto;
  width: 100%;
  margin-top: 6%;
  margin-bottom: 6%;
  @include clearfix;

  img {
    height: 48rem;
    width: 100%;
    opacity: 0.8;
  }

  .aboutMe {
    padding-top: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.6rem;
  }

  .awards {
    font-size: 1.6rem;
    padding-top: 2.5rem;
    padding-bottom: 0.8rem;
  }

  .aboutHeader {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    padding-left: 35rem;
  }
}
